@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,700;0,800;1,200;1,300;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}


body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

header {
    padding: 5px 4px;
    background: white;
    top: 0;
    width: 100%;
    z-index: auto;
    box-shadow: 0 -15px 50px #797878;
}

h1 {
    font-family: 'Playfair display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #252525;
}


#logo-a {
    float: left;
    font-size: 280%;
    color: plum;
    margin-left: 30px;
}

#logo-b {
    float: left;
    font-size: 280%;
}


/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 15px;
}

#menu ul {
    float: right;
    margin: 0;
}

#menu a {
    padding: 20px;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: plum;
    border-radius: 10px;
}

.active {
    border-bottom: 2px solid plum;
}

/* hero image with cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;

    position: relative;
}

#cover-text, #cover-text-2nd-line, #cover-text h2 {
    color: #fff
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image2b.jpg') no-repeat center center;
    background-size: cover;
}

#cover-text {
    font-size: 200%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 800px;
    height: 100px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(236, 53, 181, 0.4);

    bottom: 300px;
    left: 250px;

    position: absolute;
    
}

#cover-text-2nd-line {
    font-size: 150%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 960px;
    height: 80px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(236, 53, 181, 0.3);

    bottom: 160px;
    left: 350px;

    position: absolute;

}

/* About Artspace */

#about-artspace {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 50%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 50%;
    float: right;
}

.right-about-heading {
    width: 80%;
    float: left;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

#welcome {
    text-align: center;
    margin: 25px 0;
    font-size: 280%;
}

#circle-container {
    width: 500px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 3px;
    border-radius: 10% 40% 60% 70%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../images/about-section1.jpg') no-repeat center center;
    height: 100%;
    border-radius: 10% 40% 60% 70%;
}