@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,700;0,800;1,200;1,300;1,700;1,800&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

header {
    padding: 5px 4px;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: auto;
    box-shadow: 0 -15px 50px #797878;
}

h1,
h2 {
    font-family: 'Playfair display', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #252525;
}

#logo-a {
    float: left;
    font-size: 280%;
    color: plum;
}

#logo-b {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 15px;
}

#menu ul {
    float: right;
    margin: 0;
}

#menu a {
    padding: 20px;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: plum;
    border-radius: 10px;
}

.active {
    border-bottom: 2px solid plum;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image2b.jpg') no-repeat center center;
    background-size: cover;
}